/* The Jamsil Font */
@font-face {
  font-family: 'The Jamsil';
  font-weight: 100;
  src: url('/fonts/The Jamsil 1 Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'The Jamsil';
  font-weight: 300;
  src: url('/fonts/The Jamsil 2 Light.ttf') format('truetype');
}

@font-face {
  font-family: 'The Jamsil';
  font-weight: 400;
  src: url('/fonts/The Jamsil 3 Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'The Jamsil';
  font-weight: 500;
  src: url('/fonts/The Jamsil 4 Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'The Jamsil';
  font-weight: 700;
  src: url('/fonts/The Jamsil 5 Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'The Jamsil';
  font-weight: 800;
  src: url('/fonts/The Jamsil 6 ExtraBold.ttf') format('truetype');
}

.sigmar-ff {
  font-family: "Sigmar", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.kanit-light {
  /* font-family: "Kanit", sans-serif; */
  font-weight: 300;
  font-style: normal;
}

.kanit-light-italic {
  /* font-family: "Kanit", sans-serif; */
  font-weight: 300;
  font-style: italic;
}

.kanit-regular {
  /* font-family: "Kanit", sans-serif; */
  font-weight: 400;
  font-style: normal;
}

.kanit-regular-italic {
  /* font-family: "Kanit", sans-serif; */
  font-weight: 400;
  font-style: italic;
}

.kanit-bold {
  /* font-family: "Kanit", sans-serif; */
  font-weight: 700;
  font-style: normal;
}

.kanit-bold-italic {
  /* font-family: "Kanit", sans-serif; */
  font-weight: 700;
  font-style: italic;
}

/* The Jamsil Classes for Posts */
.jamsil-thin {
  font-family: 'The Jamsil', sans-serif;
  font-weight: 100;
}

.jamsil-light {
  font-family: 'The Jamsil', sans-serif;
  font-weight: 300;
}

.jamsil-regular {
  font-family: 'The Jamsil', sans-serif;
  font-weight: 400;
}

.jamsil-medium {
  font-family: 'The Jamsil', sans-serif;
  font-weight: 500;
}

.jamsil-bold {
  font-family: 'The Jamsil', sans-serif;
  font-weight: 700;
}

.jamsil-extrabold {
  font-family: 'The Jamsil', sans-serif;
  font-weight: 800;
}
